<h1 class="center">Those are great numbers <%=name%>.<p> Did you know that your three favorite numbers <%=fav_num1%>, <%=fav_num2%> and <%=fav_num3%> <p> that total <%=sum%> are <%=results%> your age of <%=age%>?<p></h1>
